.car-details-container {
    text-align: center;
    padding: 20px;
  }
  
  .car-details-container p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  ul li.active {
    font-weight: bold;
  }
  
  .color-selector {
    margin-top: 20px;
  }
  
  label {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  select {
    font-size: 1.2em;
  }
  
  .build-and-price-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .build-and-price-button:hover {
    background-color: #0056b3;
  }
  
  .image-class{
    width: 400px;
    object-fit: contain;
  }
  .data-container{
    display: flex;
    margin-top: 40px;
  }
  .car-details-container p:first-child{
    margin-top: 0 !important;
    margin-left: 20px
  }
  
  .color-tiles {
    display: flex;
    justify-content: center;
  }
  
  .color-tiles > div {
    cursor: pointer;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .color-tiles > div.selected {
    background-color: #ccc;
    color: #fff;
    border: 1px solid #ccc;;
  }
  .chip-list {
    list-style: none;
    padding: 0;
  }
  
  .chip {
    display: flex;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
  }
  
  .selected-chip {
    background-color: #0e0e0e;
    color: #fff;
    border-color: #333;
  }
  