<div class="car-details-container" *ngIf="car?.model">
    <div class="heading-block">
        <img (click)="navigateback()" src="assets/icons/back.png" alt="back">
        <h2>{{ car.model }}</h2>
    </div>
    <div class="data-container">
        <div><img [src]="car.image" alt="{{car.model}}" class="image-class"/></div>
        <div>
            <p>{{ car.description }}</p>
            <p>Price: {{ car.price }}</p>
            <p>Available Variants:</p>
            <!-- <ul>
                <li *ngFor="let variant of car.variants" [class.active]="car.selectedVariant === variant"
                    (click)="selectVariant(variant)">{{ variant }}</li>
            </ul> -->
            <ul class="chip-list">
                <li
                  *ngFor="let variant of car.variants"
                  [ngClass]="{'chip': true, 'selected-chip': car.selectedVariant === variant}"
                  (click)="selectVariant(variant)"
                >
                  {{ variant }}
                </li>
              </ul>
            <div class="color-selector">
                <label for="color">Select Color:</label>
                <div class="color-tiles">
                  <div
                    *ngFor="let color of availableColors"
                    [ngStyle]="{ 'background-color': color, 'box-shadow': color === car.color ? '0 0 5px rgba(0, 0, 0, 0.9)' : 'none' }"
                    [class.selected]="color === car.color"
                    (click)="selectColor(color)"
                  ></div>
                </div>
              </div>
            <button class="build-and-price-button" [routerLink]="['/build-and-price']">Build and Price</button>
        </div>
    </div>
    
</div>